{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the Notetaker!</h1>
        <p class="lead">You can create notes and categories with the links above.<p>
    </div>

    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Notes</h5>
                <p class="card-text">Organize your life by creating your own notes and adding categories to them.</p>
                <a href="{% url 'notes:user_notes' username=user.username %}" class="btn btn-primary">Notes</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Categories</h5>
                <p class="card-text">Create categories and assign notes to them with the color you like, then link notes to them.</p>
                <a href="{% url 'categories:for_user' username=user.username %}" class="btn btn-primary">Categories</a>
            </div>
        </div>
    </div>
{% else %}
    <div class="jumbotron mt-4">
        <h1 class="display-4">Welcome to the Notetaker!</h1>
        <p class="lead">Create an account and log in to start.<p>
    </div>
{% endif %}

{% endblock %}